<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you <%= @user.email %> for signing up.</h1>
    <p>
			To have future access to your data, please verify it is indeed you who created a new account.
    </p>
    <p>
      To verify, please follow this link: <%= @url + "?token=" + @residence.token %>
    </p>
  </body>
</html>
