<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome.</h1>
    <p>
			When signing in, use <%= @user.email %> to access your data.
    </p>
  </body>
</html>
