<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Welcome.</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <h1>Welcome.</h1>
    <p>
    When signing in from your residence, use <%= @user.email %> to access your data.
    </p>
  </body>
</html>
